*{
    margin:0;
    padding: 0;
    font-family: sans-serif;
}

/*navigation bar css ================================================================================*/
.navbar{
    padding:20px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky; /**/
    z-index: 999; /*The z-index CSS property sets the z-order of a positioned element and its descendants or flex items. Overlapping elements with a larger z-index cover those with a smaller one.*/
    background-color: white;
    box-shadow: 0 0 14px rgba(0,0,0,0.3);
 
}
.navbar .logo h1{
    color:aliceblue;
    border-bottom: 4px solid pink;
}


.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    display: block;
    margin-left: 20px;
    color: darkgray;
    border-bottom: 4px solid transparent;
    text-decoration: none;
    font-size:20px;
    font-weight: bold;
    
}

.navbar .menu li a:hover{
    border-bottom: 4px solid pink;
}

.navbar .menu li .active{
    border-bottom:4px solid pink;
    
}

.navbar .menu li a {
   color:black;
}

/* Who we are title ================================================================================*/


/*front page class====================================================================================*/
.frontpage{
    background-image:url(images/grilimg.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    padding:0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color:palevioletred;
    height:100vh;
}

.frontpage h1{
    font-size: 40px;
    color:cornflowerblue;
    
}

frontpage p{
    font-size:20px;
    margin-top:20px;

}

.frontpage button{
    margin-top:30px;
    padding:15px 30px;
    border:none;
    background: #0492C2;
    color:white;
    font-size:20px;
    border-radius: 5px;
    cursor: pointer;
}


/* footer ===================================================================================*/
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #302f49;
    padding: 40px 80px;
}

.footer .copy {
   color: #fff;
} 

.links a{
    color: white;
}

.links span{
    color:cornflowerblue;
}


/*Footer-Links===============================================================================*/

.bottom-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0;
}

.bottom-links .links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}

.bottom-links .links span {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  margin: 10px 0;
}

.bottom-links .links a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
}

